# Dependencies
node_modules

# Production
dist

# Logs
logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Environment
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Vite
vite.config.ts.timestamp-*
